[input_shaper]
shaper_freq_x: 80.4
shaper_type_x: 3hump_ei
shaper_freq_y: 40.0
shaper_type_y: zv

#hier muss wieder einen neue Klipperinstanz hin, sonst gibt es einen Versionsfehler
[mcu rpi]
serial: /tmp/klipper_host_mcu

[adxl345]
cs_pin: rpi:None

[resonance_tester]
accel_chip: adxl345
accel_per_hz: 50  # default is 75
probe_points:
    100,100,20 
